<% include partials/header %>
<div class = "container">
    <header class = "jumbotron" >
        <h1>Welcome to YELP CAMP!</h1>
        <p>View our handPicked Campgrounds from all over the world.</p>
        <a href="/campgrounds" class = "btn btn-danger">Campgrounds</a>
    </haeder>
</div>
<% include partials/footer %>